body {
    background-color: #0a0a10;
    overflow: hidden;
}

* {
    font-family: "Play", sans-serif;
}

p {
    margin: 0;
    padding: 0;
    color: white;
    line-height: 0;
    font-family: "play", sans-serif;
}

#container {
    width: auto;
    height: 100vh;
    display: grid;
    place-items: center;
}

#main {
    height: clamp(1px, 80%, 700px);
    width: clamp(1px, 90%, 1000px);
    max-width: 90vw;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#bot {
    background-color: rgba(11, 13, 17, 0.4);
    height: 92%;
    width: 26%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#user {
    height: 92%;
    width: 68%;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-size: 100% 18% !important;
}

#icon {
    position: absolute;
    color: rgb(40, 40, 40);
    height: 300px;
    width: 300px;
    z-index: -1;
}

#pfp-link {
    height: clamp(1px, 70px, 13vh);
    width: clamp(1px, 70px, 13vh);
    border: clamp(1px, 3px, 1.2vw) solid #252525;
    overflow: hidden;
    position: relative;
    border-radius: clamp(1px, 12px, 4vw);
    background-color: #000;
    top: 6.5%;
    left: 3%;
}

#pfp {
    height: 100%;
    width: 100%;
}

#user-container {
    height: 82%;
    width: 100%;
    border-top: clamp(1px, 3px, 1.2vw) solid #252525;
    background-color: rgba(11, 13, 17, 0.4);
}

#username {
    font-size: clamp(1px, 155%, 6vw);
    font-weight: bold;
    position: relative;
    left: 2%;
}

#name-cont {
    position: relative;
    top: 12%;
    width: 50%;
    left: 2.2%;
}

#name {
    font-size: clamp(1px, 115%, 4vw);
    position: relative;
    left: 2%;
    top: clamp(1px, 25px, 5vw);
}

#user-data {
    height: 72%;
    width: 100%;
    border: clamp(1px, 3px, 1.2vw) solid #2b2b2b;
    position: relative;
    top: 23%;
    overflow-y: auto;
    border-radius: 5px;
    padding-bottom: 2%;
}

#user-data::-webkit-scrollbar {
    display: none;
}

.user-object {
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 1%;
}

.cont-holder {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: clamp(1px, 125%, 3.5vw);
}

.text-padding {
    padding-left: 6px;
}

#bot-img {
    height: clamp(1px, 150px, 17vw);
    width: clamp(1px, 150px, 17vw);
    border: clamp(1px, 3px, 1.2vw) solid #252525;
    position: relative;
    top: 5%;
}

#goto-dashboard {
    height: 10%;
    width: 90%;
    border: clamp(1px, 3px, 1.2vw) solid #161624;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
    border-radius: 4px;
    background-color: #060613;
    cursor: pointer;
    font-size: clamp(1px, 125%, 3.5vw);
    text-decoration: none;
}

.data-text {
    line-height: 100%;
}

@media (max-width: 900px) {
    #main {
        display: inline-block;
        justify-content: center;
    }

    #user {
        top: 4%;
        height: 61%;
        width: 93%;
        margin-left: 2.4%;
        position: relative;
    }

    #bot {
        height: 29%;
        width: 93%;
        margin-left: 2.4%;
        position: relative;
        top: 6%;
    }

    #pfp-link {
        top: 9.8%;
    }

    #user {
        background-size: 100% 20% !important;
    }

    #name-cont {
        top: 18%;
    }

    #user-data {
        height: 60%;
        top: 35%;
    }

    .cont-holder {
        height: 20%;
    }

    #goto-dashboard {
        margin-top: 5%;
        height: 20%;
    }
}
